/* width */

::-webkit-scrollbar {
  width: 6px;

  height: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--surface-d, transparent);

  background: var(--surface-b);
}

::-webkit-scrollbar-corner {
  background: var(--surface-b);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #597bbd;

  border-radius: 10px;

  height: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #48649b;
}
