.list-card {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  padding: 0.5rem 1rem;
  background-color: var(--p-surface-c);
  border-radius: var(--p-border-radius-lg);
  gap: 0.8rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
