<div class="list-card">
  <div class="list-card__header">
    <div class="header__title">{{ name() }}</div>
    <div class="header__options">
      <p-button
        (click)="menu.toggle($event)"
        icon="pi pi-ellipsis-v"
        [rounded]="true"
        [text]="true"
        severity="secondary"
      />
      <p-menu #menu [model]="items" [popup]="true" />
    </div>
  </div>
  <div class="list-card__footer">
    <p-progressBar [value]="80">
      <ng-template pTemplate="content" let-value>
        <span>{{ value }}/100</span>
      </ng-template>
    </p-progressBar>
  </div>
</div>
