.container {
  padding: 1rem 0;
  .form {
    &__group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }
  }
}
