<div class="container">
  <div class="card" style="height: 85vh">
    <!-- <div class="card-navegator">
      <div>Volver a listas</div>
    </div> -->
    <div class="card-header">
      <div class="card-header-title">Mis Listas</div>
    </div>

    <div class="card-body">
      <!-- <input
        [(ngModel)]="nuevaListaNombre"
        class="input-field"
        placeholder="Nueva lista"
      />

      <button
        class="primary-button"
        [disabled]="!nuevaListaNombre?.trim()"
        (click)="agregarLista()"
      >
        Añadir Lista
      </button> -->
      @for(list of lists; track list){
      <app-list-card [name]="list.name"></app-list-card>
      }
    </div>
  </div>
</div>

<div class="p-card">CARD</div>
