<div class="container">
  <div class="card" style="height: 85vh">
    <!-- <div class="card-navegator">
      <div>Volver a listas</div>
    </div> -->
    <div class="card-header">
      <div class="card-header-title">Mis Listas</div>
    </div>

    <div class="card-body">
      @for(list of (lists$ | async); track list){
      <app-list-card
        (delete)="confirmDeleteList(list.id)"
        [name]="list.name"
      ></app-list-card>
      }
    </div>
  </div>
</div>

<p-confirmdialog key="confirm-delete-list" />
