<div class="register-container">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="register-form"
  >
    <h2>Regístrate</h2>

    <div>
      <label for="username">Nombre</label>
      <input
        id="username"
        formControlName="name"
        type="text"
        class="input-field"
        placeholder="Correo electrónico"
        required
      />
    </div>

    <div>
      <label for="username">Apellido</label>
      <input
        id="username"
        formControlName="surname"
        type="text"
        class="input-field"
        placeholder="Correo electrónico"
        required
      />
      @if(registerForm.get('surname')?.hasError('required') &&
      registerForm.get('surname')?.touched){
      <p style="color: red">El campo requerido</p>
      }
    </div>

    <div>
      <label for="username">Emilio</label>
      <input
        id="username"
        formControlName="email"
        type="text"
        class="input-field"
        placeholder="Correo electrónico"
        required
      />
      @if(registerForm.get('email')?.hasError('email')){
      <p>El formato es incorrecto</p>
      }
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="input-field"
        placeholder="Contraseña"
        required
      />
    </div>

    <button type="submit">Registrarse</button>
  </form>
</div>
